{% extends 'base.html' %}

{% block content %}
<div class="container mt-4">
    <h1 class="text-center">Lista de Ingredientes</h1>

    <div class="text-end my-3">
        <a href="{{ url_for('fabricante_ingredientes.crear_ingrediente') }}" class="btn btn-primary">Crear Ingrediente</a>
    </div>

    <table class="table table-bordered mt-4">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Descripción</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for ingrediente in ingredientes %}
            <tr>
                <td>{{ ingrediente.id }}</td>
                <td>{{ ingrediente.nombre }}</td>
                <td>{{ ingrediente.descripcion }}</td>
                <td class="bg-dark text-white"> 
                    <a href="{{ url_for('fabricante_ingredientes.editar_ingrediente', id=ingrediente.id) }}" class="btn text-white hover-effect">Editar</a>
                    <form action="{{ url_for('fabricante_ingredientes.eliminar_ingrediente', id=ingrediente.id) }}" method="POST" onsubmit="return confirm('¿Estás seguro de que deseas eliminar este ingrediente?');">
                        <button type="submit" class="btn text-white hover-effect">Eliminar</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    
</div>
{% endblock %}
